<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benford's Law Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous"
    >
</head>
<body style="opacity:0;">
<main id="app" class="container-fluid">
    <div class="row" :class="analysis ? '' : 'justify-content-center'">
        <div id="sidebar" class="" :class="analysis ? 'col-xl-5' : 'col-lg-auto'">
            <div class="card mt-3 bg-light">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col col-lg-6 mb-3">
                            <h1 class="h3 card-title">Benford's Law Test</h1>
                            <p class="card-subtitle mb-2 text-muted">
                                Uploaded files:
                                <span id="uploaded-files-count"
                                      v-html="csvFiles.length ? csvFiles.length : 'None'"/>
                            </p>
                        </div>
                        <div class="col col-lg-6">
                            <form class="mb-3" enctype="multipart/form-data"
                                  id="upload-file"
                                  novalidate
                                  @change="onFileSubmitted"
                                  :disabled="this.status === LOADING"
                            >
                                <label class="form-label">
                                    Upload a new .csv file:
                                    <input class="mt-2 form-control-file"
                                           id="upload-file-input"
                                           type="file"
                                           style="color: transparent;">
                                </label>
                            </form>
                            <form id="uploaded-files" class="mb-3">
                                <label class="form-label">
                                    Select a previously uploaded file:
                                    <select id="uploaded-files-select" class="mt-2 form-select"
                                            v-model="selectedFile"
                                            :disabled="csvFiles.length === 0"
                                    >
                                        <option v-for="(item, index) in csvFiles"
                                                v-html="item.attributes.filename"
                                                :value="item"
                                                :key="index"
                                        />
                                    </select>
                                </label>
                            </form>
                        </div>
                    </div>
                    <p id="upload-error" class="mb-3 alert alert-danger"
                       v-if="uploadError"
                       v-html="uploadError"
                    />
                    <div id="preview" class="card"
                         v-if="preview">
                        <div class="card-body">
                            <h2 class="h4 card-title" id="csv-filename"
                            >File: ${preview.filename}</h2>
                            <p id="csv-row-count"
                               class="card-subtitle mb-2 text-muted"
                            >${preview.numRows} rows, ${preview.numDiscarded} excluded</p>
                            <p id="preview-error" class="alert alert-danger" role="alert"
                               v-if="!viableColumns.length || !preview.previewData"
                            >Warning: No usable data was found. Please ensure the file has at least one column which is unambiguously numerical.</p>
                            <p id="csv-viable-column-count"
                               class="card-subtitle mb-2 text-muted"
                            >${viableColumns.length} viable columns detected</p>
                            <h3 class="card-subtitle mb-2 h4 text-muted">
                                Preview:
                            </h3>
                            <div id="preview-table-wrapper" class="table-responsive">
                                <table id="preview-table" class="table table-sm">
                                    <thead class="table-light">
                                    <tr>
                                        <th v-for="(header, headerIndex) in headers"
                                            :id="'preview-table-header-' + headerIndex"
                                            v-html="header"/>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(row, rowIndex) in previewData"
                                        :id="'preview-table-row-' + rowIndex"
                                    >
                                        <td v-for="(item, itemIndex) in row"
                                            :id="'preview-table-row-' + rowIndex + '-col-' + itemIndex"
                                            v-html="item"/>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <form id="csv-controls" class="row p-2 justify-content-between">
                                <div class="col-sm-3 mb-3 ml-3 form-check form-switch">
                                    <input id="csv-has-headers-input" class="form-check-input"
                                           type="checkbox"
                                           v-model="hasHeaders"
                                           :value="true"
                                    />
                                    <label for="csv-has-headers-input" class="form-check-label">
                                        Headers
                                    </label>
                                </div>
                                <div class="col-sm-auto mb-3">
                                    <label for="csv-target-column-select" v-if="viableColumns">Target
                                        column</label>
                                    <select id="csv-target-column-select" v-model="selectedColumn">
                                        <option v-for="(item, index) in viableColumns"
                                                v-html="item[1]"
                                                :value="index"
                                        />
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="analysis" class="col-xl-7" v-if="analysis">
            <div class="card mt-3 bg-light">
                <div class="card-body">
                    <h2 class="h3 card-title">Analysis</h2>
                    <div class="row">
                        <div class="col-lg-7">
                            <p id="analysis-error" class="alert alert-warning" role="alert"
                               v-if="rowsExcluded > (preview.numRows / 10)"
                            >Note: no numerical data was found for <u>10% or more</u> of rows in the target column. These rows are not included in the analysis.</p>
                            <div class="mb-4 bg-white p-2 border border-faded">
                                <bar-chart id="histogram" ref="chart"/>
                            </div>
                            <div class="card bg-white mb-4">
                                <div id="frequencies" class="card-body">
                                    <h4 class="h5 card-title">Distribution of digits</h4>
                                    <div id="frequencies-table-wrapper" class="table-responsive">
                                        <table id="frequencies-table" class="table table-sm">
                                            <thead class="table-light">
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th v-for="(item, index) in analysis.expectedDistribution"
                                                    v-html="index"/>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr id="frequencies-table-expected">
                                                <th>Expected</th>
                                                <td v-for="(item) in expectedDistribution"
                                                    :id="'expected-count-' + item"
                                                    v-html="item"/>
                                            <tr id="frequencies-table-observed">
                                                <th>Observed</th>
                                                <td v-for="(item) in analysis.observedDistribution"
                                                    :id="'observed-count-' + item"
                                                    v-html="item"/>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="card mb-4">
                                <div class="card-body mb-3">
                                    <h2 class="h4 card-title">
                                        Goodness-of-fit test
                                    </h2>
                                    <dl id="goodness-of-fit-test" class="">
                                        <dt>Sample size:</dt>
                                        <dd id="test-sample-size">n = ${analysis.n} (${rowsExcluded} rows excluded)</dd>
                                        <dt>
                                            <label for="test-p-value-select">
                                                <em>p</em>-value:
                                            </label>
                                        </dt>
                                        <dd id="test-p-value">
                                            <select id="test-p-value-select"
                                                    class="form-select form-select-sm"
                                                    v-model="pValue">
                                                <option v-for="(key, value) in analysis.criticalValues"
                                                        :value="value"
                                                        v-html="value"/>
                                            </select>
                                        </dd>

                                        <dt>Critical value:</dt>
                                        <dd id="test-critical-value">(<em>p</em> = ${ pValue }) &chi;&sup2;<em>c</em> = ${criticalValue}</dd>

                                        <dt>Null hypothesis (H<sub>0</sub>):</dt>
                                        <dd id="test-null-hypothesis">No significant differences between distributions, i.e., observed distribution conforms to Benford's Law.</dd>

                                        <dt>Test statistic:</dt>
                                        <dd id="test-statistic">&chi;&sup2; (8, N=${ analysis.n }) = ${analysis.testStatistic.toPrecision(6)}</dd>

                                        <dt>Result:</dt>
                                        <dd id="test-result">&chi;&sup2; ${testResult ? '&gt;' : '&lt;'} &chi;&sup2;<em>c</em></dd>

                                        <dt>Interpretation:</dt>
                                        <dd id="test-interpretation">${ testResult ? 'Reject' : 'Retain' } the null hypothesis; <u>${ testResult ? 'significant' : 'no significant' } differences</u> between distributions at <em>p</em> = ${ pValue }.</dd>

                                        <dt>Conclusion:</dt>
                                        <dd id="test-conclusion">Observed distribution ${ testResult ? 'does not conform' : 'conforms' } to Benford's Law.</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
<script>
  const INITIAL = 0, LOADING = 1, SUCCESS = 2, FAILED = 3

  Vue.component('bar-chart', {
    extends: VueChartJs.Bar,
    mixins: [VueChartJs.mixins.reactiveProp],
    mounted () {
      this.renderChart({}, {
        responsive: true,
        maintainAspectRatio: false
      })
    }
  })

  new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data () {
      return {
        visible: {
          preview: false,
          analysis: false,
        },
        preview: null,
        csvFiles: [],
        selectedFile: null,
        status: INITIAL,
        uploadError: null,
        hasHeaders: true,
        selectedColumn: null,
        analysis: null,
        pValue: null,
      }
    },
    mounted () {
      this.getCsvFiles()
    },
    methods: {
      getCsvFiles () {
        axios.get('csv')
          .then(response => {
            this.csvFiles = response.data.data
            console.log(this.csvFiles)
          })
          .catch(err => {
            this.uploadError = err.response
            console.log(err)
          })
      },
      onFileSubmitted (event) {
        if (!event.target.files) {
          return
        }
        const [file] = event.target.files
        this.currentStatus = LOADING
        const formData = new FormData()
        formData.append('csv', file, file.name)

        axios.post('upload', formData)
          .then(response => {
            this.selectedFile = response.data.data
            this.getCsvFiles()
            this.clearChart()
            this.status = SUCCESS
          })
          .catch(error => {
            this.uploadError = error.response.data.message
            this.status = FAILED
          })
      },
      renderChart () {
        if (!this.$refs.chart) {
          return
        }
        this.$refs.chart.renderChart({
          labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
          datasets: [
            {
              label: 'Expected Distribution',
              data: Object.values(this.analysis.expectedDistribution),
              borderColor: 'blue',
              backgroundColor: 'transparent',
              order: 2,
              type: 'line'
            },
            {
              label: 'Observed Distribution',
              backgroundColor: 'lightblue',
              data: Object.values(this.analysis.observedDistribution),
              order: 1,
            },
          ]
        }, {
          title: {
            display: true,
            text: this.preview.filename + ' (' + this.headers[this.selectedColumn] + ')'
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }],
          },
          responsive: true,
          maintainAspectRatio: true,
        })
      },
      clearChart () {
        if (!this.$refs.chart) {
          return
        }
        this.$refs.chart.renderChart({
          options: {
            title: {
              display: false,
              text: '',
            },
          },
          datasets: [],
        })
      },
      getPreview () {
        this.status = LOADING
        const url = `csv/${this.selectedFile.id}/preview`
        axios.get(url)
          .then(response => {
            this.preview = response.data.data.attributes
            this.analysis = null
            this.selectedColumn = null
            this.clearChart()
            this.hasHeaders = true
            this.status = SUCCESS
          })
          .catch(err => {
            this.status = FAILED
          })
      },
      getAnalysis () {
        this.status = LOADING
        const url = `csv/${this.selectedFile.id}/analysis`
        axios.get(url, {})
          .then(response => {
            this.analysis = response.data.data.attributes.columns[this.selectedColumn]
            this.status = SUCCESS
            this.pValue = '0.05'
          })
          .catch(error => {
            console.log(error)
            this.status = FAILED
            this.uploadError = error.response.data.message
          })
      }
    },

    watch: {
      selectedFile () {
        console.log(this.selectedFile)
        if (!this.selectedFile) {
          this.preview = null
        } else {
          this.getPreview()
        }
      },
      selectedColumn () {
        if (this.selectedColumn != null) {
          this.getAnalysis()
        }
      },
      analysis () {
        if (this.analysis) {
          this.$nextTick(this.renderChart)
        } else {
          this.clearChart()
        }
      },
      status () {
        if (this.status === SUCCESS) {
          this.uploadError = null
        }
      },
    },
    computed: {
      headers () {
        return this.hasHeaders ?
          this.preview.previewData[0]
          : this.preview.previewData[0].map((header, index) => {
            return '#' + (index + 1)
          })
      },
      loading () {
        return (this.status === LOADING)
      },
      uploadFailed () {
        return (this.status === FAILED)
      },
      previewData () {
        return this.hasHeaders ?
          this.preview.previewData.slice(1)
          : this.preview.previewData.slice(0, 5)
      },
      viableColumns () {
        if (!this.preview) {
          return []
        }
        return this.preview.viableColumnIndices.map((colIndex) => [colIndex, this.headers[colIndex]])
      },
      criticalValue () {
        return this.analysis.criticalValues[this.pValue]
      },
      testResult () {
        return this.analysis.goodnessOfFit[this.pValue]
      },
      rowsExcluded () {
        return this.preview.numRows - this.analysis.n
      },
      expectedDistribution () {
        return Object.values(this.analysis.expectedDistribution).map((count) => count.toFixed(0))
      },
    },
  })
  document.body.style.opacity = '1'
</script>
</html>